[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scipy = "*"
pandas = "*"
numpy = "*"
ipykernel = "*"
matplotlib = "*"
sklearn = "*"

[requires]
python_version = "3.7"
